<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="LucasJacobs.MPEG2Player" Publisher="CN=Lucas" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MPEG-2 TS Player</DisplayName>
    <PublisherDisplayName>Lucas Jacobs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="mpeg2_player.App">
      <VisualElements DisplayName="MPEG-2 TS Player" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Plays MPEG-2 TS video files in Windows 8." ForegroundText="light" BackgroundColor="#02006b" ToastCapable="false">
        <DefaultTile ShortName="MPEG-2 Player" ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#02006b" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="videosLibrary" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>libmpeg2.dll</Path>
        <ActivatableClass ActivatableClassId="libmpeg2.Decoder" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>