<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="0d44126a-5a93-4a9d-8023-4af9a027756a" Publisher="CN=Lucas" Version="1.1.0.0" />
  <Properties>
    <DisplayName>Test App</DisplayName>
    <PublisherDisplayName>Lucas Jacobs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3</OSMinVersion>
    <OSMaxVersionTested>6.3</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="test_app.App">
      <m2:VisualElements DisplayName="Test App" Description="Sample implementation of libmpeg2-winrt as a Windows 8 app." BackgroundColor="#ffc801" ForegroundText="dark" ToastCapable="false" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png">
        <m2:DefaultTile ShortName="Test App" Wide310x150Logo="Assets\WideLogo.png">
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen BackgroundColor="#ffc801" Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>libmpeg2.dll</Path>
        <ActivatableClass ActivatableClassId="libmpeg2.Decoder" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>